extends layout

block content
  if errors && errors.length > 0 
    .alert.alert-warning(role='alert')
      ul.my-errors
        for error in errors
          li=error.msg

  h2 Search iOS app (on UK store)
  form(action="/search" method="POST" class="form-search")
    input(
      type="text"
      id="search"
      name="search"
      class="form-control"
      value=data.search
    )

    input(
      type="submit"
      value="Search"
      class="btn btn-lg btn-primary btn-block"
    )

  if lastAnalysed
    h2 Last analysed
    .container
      .col-lg-8.col-centered
        for app in lastAnalysed
          .row.position-relative
            .col-3.col-sm-2.col-md-2.my-auto
              img.rounded(src=`${app.details.icon}` width='50' height='50' alt=`${app.details.appId}`)
            .col-9.col-sm-10.col-md-10.text-truncate.position-static
              div
                a.stretched-link.report-link(href=`/analysis/${app.appid}`)
                  | #{app.details.title}
              .small
                b Version #{app.details.version}
              div
                span.mr-lg-4.mr-2
                  if app.analysis && app.analysis.trackers
                    span.badge.badge-pill.badge-danger.reports #{Object.keys(app.analysis.trackers).length}
                    |               trackers
                    =" "
                    span.badge.badge-pill.badge-danger.reports #{app.analysis.permissions.length}
                    |               permissions
                    if app.jurisdictionMeta
                      =" "
                      span.badge.badge-pill(class=app.jurisdictionMeta.cssClass) !{app.jurisdictionMeta.icon} #{app.jurisdictionMeta.label}
                  else
                      span.text-muted analysis failed
          br

    if topTrackers
      h2 Top trackers
      ul.search-results
        for tracker in topTrackers[1]
          li=`${tracker[0]} (${tracker[1]}% of apps)`

    if jurisdictionStats && jurisdictionStats.totalApps > 0
      h2 Tracker Jurisdiction
      p.text-muted
        | Where does tracking infrastructure come from? Based on #{jurisdictionStats.totalApps} analysed apps.

      each cls in ['us_only', 'european_only', 'mixed_with_us', 'mixed_no_us', 'unresolved_only']
        if jurisdictionStats.classificationCounts[cls]
          - const meta = jurisdictionMeta[cls]
          - const count = jurisdictionStats.classificationCounts[cls]
          - const pct = jurisdictionStats.classificationPcts[cls]
          .jurisdiction-stat-row.mb-2
            .d-flex.justify-content-between.align-items-center.mb-1
              span
                span.badge.badge-pill(class=meta.cssClass) !{meta.icon} #{meta.label}
              span.font-weight-bold #{count} apps (#{pct}%)
            .jurisdiction-bar-track
              .jurisdiction-bar-fill(class=meta.cssClass + '-bg' style=`width: ${pct}%`)

      if jurisdictionStats.topCompaniesSorted && jurisdictionStats.topCompaniesSorted.length > 0
        h4.mt-4 Most prevalent tracking companies
        .table-responsive
          table.table.table-sm.table-striped
            thead
              tr
                th Company
                th Country
                th Region
                th Apps
            tbody
              each company in jurisdictionStats.topCompaniesSorted.slice(0, 10)
                tr
                  td.font-weight-bold= company.name
                  td #{company.flag} #{company.countryName}
                  td
                    span.badge.badge-pill(class=`region-${company.region.toLowerCase()}`) #{company.region}
                  td= company.count

      if jurisdictionStats.categoriesSorted && jurisdictionStats.categoriesSorted.length > 0
        h4.mt-4 US-only tracking by category
        .table-responsive
          table.table.table-sm.table-striped
            thead
              tr
                th Category
                th Apps
                th US-only
                th EU-only
            tbody
              each cat in jurisdictionStats.categoriesSorted
                tr
                  td= cat.name
                  td= cat.total
                  td
                    .d-flex.align-items-center
                      .jurisdiction-bar-track.mr-2(style='width: 80px')
                        .jurisdiction-bar-fill.jurisdiction-us-bg(style=`width: ${cat.usOnlyPct}%`)
                      span #{cat.usOnlyPct}%
                  td
                    .d-flex.align-items-center
                      .jurisdiction-bar-track.mr-2(style='width: 80px')
                        .jurisdiction-bar-fill.jurisdiction-eu-bg(style=`width: ${cat.euOnlyPct}%`)
                      span #{cat.euOnlyPct}%

      h4.mt-4 European alternatives
      .table-responsive
        table.table.table-sm.table-striped
          thead
            tr
              th Function
              th Dominant provider (US)
              th European alternative
              th Available?
          tbody
            each alt in europeanAlternatives
              tr
                td= alt.function
                td= alt.usDominant
                td= alt.euAlternative
                td
                  if alt.adopted
                    span.badge.badge-pill.jurisdiction-eu Limited
                  else
                    span.badge.badge-pill.jurisdiction-us None

      p.text-muted.mt-3
        small
          | Based on Xray Tracker Database (#{jurisdictionStats.xrayCompanyCount} companies).
          a(href='/about') Learn more about this analysis

  if searchResults
    h2 Found apps

    #results
      .container
        for app in searchResults
          .row.position-relative
            .col-3.col-sm-2.col-md-2.my-auto
              img.rounded(src=`${app.icon}` alt=`${app.appId} logo` width='50' height='50')
            .col-9.col-sm-10.col-md-10.text-truncate.position-static
              div
                if app.free
                  a.stretched-link.report-link(href=`/analysis/${app.appId}`)
                    | #{app.title}
                else
                  a.text-muted.stretched-link.report-link
                    | #{app.title} (paid app)
              .small
                b Version #{app.version}
          br

block app
  if app
    .container
      .row.justify-content-sm-center
        .col-xl-2.col-lg-2.col-md-8.col-12.text-lg-left.text-center.mb-4
          img.rounded(src=`${app.details.icon}` alt=`${app.details.appId} logo` width='115' height='115')
        .col-xl-6.col-lg-6.col-md-8.col-12.text-center.text-lg-left.my-auto.mb-4
          h1.main-title=`${app.details.title}`

      if app.analysis && app.analysis.trackers
        .row.justify-content-sm-center.mb-5
          .col-md-8.col-12
            | Version: #{app.details.version}
            br
            | Source: App Store
            if app.analysed
              br
              span.text-muted=`App analysis attempted on ${app.analysed.toLocaleString("en-GB")}`
          .col-md-8.col-12.text-right.mt-2
            a.link.main-link(target='_blank' rel='noreferrer' href=`${app.details.url}`) See on App Store
          
        .row.justify-content-sm-center.mb-5
          .col-md-8.col-12
            a#trackers.anchor
            h3
              span.badge.badge-pill.badge-danger.reports #{Object.keys(app.analysis.trackers).length}
              =" "
              b trackers
        
          .col-md-8.col-12
            p
              | We found the  
              b code signature  
              | of the following trackers in the application:

            if app.analysis.trackers
              for tracker in Object.keys(app.analysis.trackers)
                p.mb-0
                  if tracker in trackerNameToExodus
                    a.link.black(target='_blank' rel='noopener noreferrer' href=`https://reports.exodus-privacy.eu.org/en/trackers/${trackerNameToExodus[tracker].id}/`) #{tracker}
                  else 
                    | #{tracker}
                p
                  if tracker in trackerNameToExodus
                    for category in trackerNameToExodus[tracker].categories
                      span.badge.badge-pill.badge-outline-primary.analytics #{category}
                      =" "
                  else
                    span.text-muted No further information available for this tracker.
              | A tracker is a piece of software meant to collect data about you or your usages.
              a(target='_blank' rel='noopener noreferrer' href='https://reports.exodus-privacy.eu.org/en/info/trackers/') Learn more...

        if jurisdictionData
          .row.justify-content-sm-center.mb-5
            .col-md-8.col-12
              a#jurisdiction.anchor
              h3
                span.badge.badge-pill.reports(class=jurisdictionData.meta.cssClass) !{jurisdictionData.meta.icon}
                =" "
                b Jurisdiction Analysis

            .col-md-8.col-12
              .jurisdiction-badge(class=jurisdictionData.meta.cssClass)
                span.jurisdiction-label !{jurisdictionData.meta.icon} #{jurisdictionData.meta.label}

              if jurisdictionData.sovereigntyNote
                .jurisdiction-note.mt-3
                  p.mb-0
                    small
                      b Data Sovereignty Note:
                      | #{jurisdictionData.sovereigntyNote}

              if jurisdictionData.trackerDetails && jurisdictionData.trackerDetails.length > 0
                h5.mt-4 Tracker Breakdown by Jurisdiction
                .table-responsive
                  table.table.table-sm.table-striped.jurisdiction-table
                    thead
                      tr
                        th Tracker
                        th Company
                        th Country
                        th Region
                        th Function
                    tbody
                      each detail in jurisdictionData.trackerDetails
                        tr
                          td= detail.name
                          td= detail.company || 'Unknown'
                          td
                            if detail.flag
                              span #{detail.flag} #{detail.countryName}
                            else
                              span.text-muted Unknown
                          td
                            span.badge.badge-pill(class=`region-${detail.region.toLowerCase()}`) #{detail.region}
                          td
                            small= detail.function

              if Object.keys(jurisdictionData.regionBreakdown).length > 0
                h5.mt-4 Jurisdiction Distribution
                .jurisdiction-chart
                  each count, region in jurisdictionData.regionBreakdown
                    - const total = jurisdictionData.resolvedCount || 1
                    - const pct = (count / total * 100).toFixed(0)
                    .jurisdiction-bar-row
                      .jurisdiction-bar-label
                        span.badge.badge-pill(class=`region-${region.toLowerCase()}`) #{region}
                        span.ml-2 #{count} #{count === 1 ? 'company' : 'companies'} (#{pct}%)
                      .jurisdiction-bar-track
                        .jurisdiction-bar-fill(class=`region-${region.toLowerCase()}-bg` style=`width: ${pct}%`)

              .text-muted.mt-3
                small Based on Xray Tracker Database.
                  a(href='/about') Learn more about this analysis

        .row.justify-content-sm-center.mb-5
          .col-md-8.col-12
            a#permissions.anchor
            h3
              span.badge.badge-pill.badge-danger.reports #{app.analysis.permissions.length}
              =" "
              b permissions
          .col-md-8.col-12
            p
              | We found the following permissions in the application:
            for permission in app.analysis.permissions
              p.text-truncate
                span(style='padding-left:28px' <='' span='')
                  span(data-toggle='tooltip' data-placement='top' title='' data-original-title=`NS${permission}UsageDescription`) #{permission}
            | Permissions are actions the application can do on your phone.  
            a(target='_blank' rel='noopener noreferrer' href='https://reports.exodus-privacy.eu.org/en/info/permissions/') Learn more...

  
      if app.analysisFailure
        .alert.alert-warning(role='alert')
          p=app.analysisFailure
      else if app.trackers === undefined
        .alert.alert-warning(role='alert')
          if app.queueCount === 0 
            p The app is next up for analysis. Come back soon.
          else
            p The app is queued for analysis. There are currently #{app.queueCount} other apps that will be analysed first. Come back later.

//-if app
    h2=app.details.title
    if app.privacy
      if app.privacy.privacyTypes
        for privacyType in app.privacy.privacyTypes
          h3=privacyType.privacyType
          if privacyType.dataCategories
            for dataCategory in privacyType.dataCategories
              ul
                li=dataCategory.dataCategory
                if dataCategory.dataTypes
                  ul
                    for dataType in dataCategory.dataTypes
                      li=dataType

          if privacyType.purposes
            for purpose in privacyType.purposes
              span=purpose.purpose
              if purpose.dataCategories
                for dataCategory in purpose.dataCategories
                  ul
                    li=dataCategory.dataCategory
                    if dataCategory.dataTypes
                      ul
                        for dataType in dataCategory.dataTypes
                          li=dataType
              //p=`${JSON.stringify(purpose)}`
