extends layout

block content
  if errors && errors.length > 0 
    .alert.alert-warning(role='alert')
      ul.my-errors
        for error in errors
          li=error.msg

  h2 Search iOS app (on UK store)
  form(action="/search" method="POST" class="form-search")
    input(
      type="text"
      id="search"
      name="search"
      class="form-control"
      value=data.search
    )

    input(
      type="submit"
      value="Search"
      class="btn btn-lg btn-primary btn-block"
    )

  if headlines && headlines.totalApps > 0
    .jumbotron-stats.mt-4.mb-4
      .row.text-center
        .col-md-4.mb-3
          .stat-number= headlines.totalApps
          .stat-label iOS apps analysed
        .col-md-4.mb-3
          .stat-number.text-danger #{headlines.usOnlyPct}%
          .stat-label use US-only tracking
        .col-md-4.mb-3
          .stat-number.text-success #{headlines.euOnlyCount}
          .stat-label use European-only tracking
      .text-center.mt-2
        p.text-muted
          | Every tracker identified in #{headlines.usOnlyPct}% of apps is controlled by a US company, subject to the CLOUD Act. 
          a(href='/about') What does this mean?

    if jurisdictionStats
      h3 Jurisdiction breakdown
      each cls in ['us_only', 'mixed_with_us', 'mixed_no_us', 'european_only', 'unresolved_only']
        if jurisdictionStats.classificationCounts[cls]
          - const meta = jurisdictionMeta[cls]
          - const count = jurisdictionStats.classificationCounts[cls]
          - const pct = jurisdictionStats.classificationPcts[cls]
          .jurisdiction-stat-row.mb-2
            .d-flex.justify-content-between.align-items-center.mb-1
              span
                span.badge.badge-pill(class=meta.cssClass) !{meta.icon} #{meta.label}
              span.font-weight-bold #{count} apps (#{pct}%)
            .jurisdiction-bar-track
              .jurisdiction-bar-fill(class=meta.cssClass + '-bg' style=`width: ${pct}%`)

    if appsWithMostTrackers && appsWithMostTrackers.length > 0
      h3.mt-4 Apps with the most trackers
      .container
        .col-lg-8.col-centered
          for app in appsWithMostTrackers
            .row.position-relative.mb-2
              .col-3.col-sm-2.col-md-2.my-auto
                if app.icon
                  img.rounded(src=`${app.icon}` width='50' height='50' alt=`${app.title}`)
              .col-9.col-sm-10.col-md-10.text-truncate.position-static
                div
                  a.stretched-link.report-link(href=`/analysis/${app.appid}`)
                    | #{app.title}
                div
                  span.badge.badge-pill.badge-danger.reports #{app.trackerCount}
                  |  trackers
                  =" "
                  span.badge.badge-pill(class=app.meta.cssClass) !{app.meta.icon} #{app.meta.label}

    p.text-center.mt-4
      a.btn.btn-outline-primary(href='/statistics') View detailed statistics &rarr;

  if searchResults
    h2 Found apps

    #results
      .container
        for app in searchResults
          .row.position-relative
            .col-3.col-sm-2.col-md-2.my-auto
              img.rounded(src=`${app.icon}` alt=`${app.appId} logo` width='50' height='50')
            .col-9.col-sm-10.col-md-10.text-truncate.position-static
              div
                if app.free
                  a.stretched-link.report-link(href=`/analysis/${app.appId}`)
                    | #{app.title}
                else
                  a.text-muted.stretched-link.report-link
                    | #{app.title} (paid app)
              .small
                b Version #{app.version}
          br

block app
  if app
    .container
      .row.justify-content-sm-center
        .col-xl-2.col-lg-2.col-md-8.col-12.text-lg-left.text-center.mb-4
          img.rounded(src=`${app.details.icon}` alt=`${app.details.appId} logo` width='115' height='115')
        .col-xl-6.col-lg-6.col-md-8.col-12.text-center.text-lg-left.my-auto.mb-4
          h1.main-title=`${app.details.title}`

      if app.analysis && app.analysis.trackers
        .row.justify-content-sm-center.mb-5
          .col-md-8.col-12
            | Version: #{app.details.version}
            br
            | Source: App Store
            if app.analysed
              br
              span.text-muted=`App analysis attempted on ${app.analysed.toLocaleString("en-GB")}`
          .col-md-8.col-12.text-right.mt-2
            a.link.main-link(target='_blank' rel='noreferrer' href=`${app.details.url}`) See on App Store
          
        .row.justify-content-sm-center.mb-5
          .col-md-8.col-12
            a#trackers.anchor
            h3
              span.badge.badge-pill.badge-danger.reports #{Object.keys(app.analysis.trackers).length}
              =" "
              b trackers
        
          .col-md-8.col-12
            p
              | We found the  
              b code signature  
              | of the following trackers in the application:

            if app.analysis.trackers
              for tracker in Object.keys(app.analysis.trackers)
                p.mb-0
                  if tracker in trackerNameToExodus
                    a.link.black(target='_blank' rel='noopener noreferrer' href=`https://reports.exodus-privacy.eu.org/en/trackers/${trackerNameToExodus[tracker].id}/`) #{tracker}
                  else 
                    | #{tracker}
                p
                  if tracker in trackerNameToExodus
                    for category in trackerNameToExodus[tracker].categories
                      span.badge.badge-pill.badge-outline-primary.analytics #{category}
                      =" "
                  else
                    span.text-muted No further information available for this tracker.
              | A tracker is a piece of software meant to collect data about you or your usages.  
              a(target='_blank' rel='noopener noreferrer' href='https://reports.exodus-privacy.eu.org/en/info/trackers/') Learn more...

        if jurisdictionData
          .row.justify-content-sm-center.mb-5
            .col-md-8.col-12
              a#jurisdiction.anchor
              h3
                span.badge.badge-pill.reports(class=jurisdictionData.meta.cssClass) !{jurisdictionData.meta.icon}
                =" "
                b Jurisdiction Analysis

            .col-md-8.col-12
              .jurisdiction-badge(class=jurisdictionData.meta.cssClass)
                span.jurisdiction-label !{jurisdictionData.meta.icon} #{jurisdictionData.meta.label}

              if jurisdictionData.sovereigntyNote
                .jurisdiction-note.mt-3
                  p.mb-0
                    small
                      b Data Sovereignty Note:  
                      | #{jurisdictionData.sovereigntyNote}

              if jurisdictionData.trackerDetails && jurisdictionData.trackerDetails.length > 0
                h5.mt-4 Tracker Breakdown by Jurisdiction
                .table-responsive
                  table.table.table-sm.table-striped.jurisdiction-table
                    thead
                      tr
                        th Tracker
                        th Company
                        th Country
                        th Region
                    tbody
                      each detail in jurisdictionData.trackerDetails
                        tr
                          td= detail.name
                          td= detail.company || 'Unknown'
                          td
                            if detail.flag
                              span #{detail.flag} #{detail.countryName}
                            else
                              span.text-muted Unknown
                          td
                            span.badge.badge-pill(class=`region-${detail.region.toLowerCase()}`) #{detail.region}

              if Object.keys(jurisdictionData.regionBreakdown).length > 0
                h5.mt-4 Jurisdiction Distribution
                .jurisdiction-chart
                  each count, region in jurisdictionData.regionBreakdown
                    - const total = jurisdictionData.resolvedCount || 1
                    - const pct = (count / total * 100).toFixed(0)
                    .jurisdiction-bar-row
                      .jurisdiction-bar-label
                        span.badge.badge-pill(class=`region-${region.toLowerCase()}`) #{region}
                        span.ml-2 #{count} #{count === 1 ? 'company' : 'companies'} (#{pct}%)
                      .jurisdiction-bar-track
                        .jurisdiction-bar-fill(class=`region-${region.toLowerCase()}-bg` style=`width: ${pct}%`)

              .text-muted.mt-3
                small
                  | Based on  
                  a(href='/about') Xray Tracker Database

        .row.justify-content-sm-center.mb-5
          .col-md-8.col-12
            a#permissions.anchor
            h3
              span.badge.badge-pill.badge-danger.reports #{app.analysis.permissions.length}
              =" "
              b permissions
          .col-md-8.col-12
            p
              | We found the following permissions in the application:
            for permission in app.analysis.permissions
              p.text-truncate
                span(style='padding-left:28px' <='' span='')
                  span(data-toggle='tooltip' data-placement='top' title='' data-original-title=`NS${permission}UsageDescription`) #{permission}
            | Permissions are actions the application can do on your phone.  
            a(target='_blank' rel='noopener noreferrer' href='https://reports.exodus-privacy.eu.org/en/info/permissions/') Learn more...

  
      if app.analysisFailure
        .alert.alert-warning(role='alert')
          p=app.analysisFailure
      else if app.trackers === undefined
        .alert.alert-warning(role='alert')
          if app.queueCount === 0 
            p The app is next up for analysis. Come back soon.
          else
            p The app is queued for analysis. There are currently #{app.queueCount} other apps that will be analysed first. Come back later.
